<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Phòng Khám OU{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <script src="../../static/js/script.js" defer></script>
  <link rel="icon" href="https://res.cloudinary.com/dblj5qcox/image/upload/v1778620413/favicon-32x32_j3s1hi.png" type="image/png">
</head>
<body>
  {% include 'layout/header.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'layout/footer.html' %}
</body>
</html>